/* Estilos globales para el cuerpo del documento */
body {
    /* Tipo de letra utilizado */
     font-family: "Patua One", serif;
    /* Elimina los márgenes y el relleno por defecto */
    margin: 0;
    padding: 0;
    /* Color de fondo del sitio web */
   background-color: #F5F5F5;
   background-size: cover;
    text-align: center;

    .container{ display: flex;
    justify-content: center;    
    }

 
        /* Estilos para el contenedor principal del slider */
        .slider-container {
            max-width: 800px; /* Ancho máximo del slider */
            max-height: 800px;
            margin: 0 auto; /* Centra el slider horizontalmente */
            position: relative; /* Posición relativa para los elementos internos */
            overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
        }
        /* Estilos para el contenedor de las imágenes */
        .slider-content {
            display: flex; /* Utiliza flexbox para alinear las imágenes horizontalmente */
            transition: transform 0.5s ease; /* Transición suave al cambiar las imágenes */
        }
        /* Estilos para cada imagen del slider */
        .slider-item {
            max-width: 100%; /* Cada imagen ocupa al menos el ancho completo del contenedor */
            margin: 0 auto;
           position: relative;
           overflow: hidden;
        }
  


}

/* Estilos para el encabezado */
header {
     font-family: "Rubik Bubbles", system-ui;
    /* Color de fondo del encabezado */
     background-image: url("urple.GIF") ;
     background-size: cover;
    /* Color del texto en el encabezado */
    color: #E5DDF3;
    /* Relleno interno del encabezado */
    padding: 1rem 0;
    /* Alineación del texto en el centro */
    text-align: center;
    
}


}

/* Estilos para la barra de navegación */
nav ul {
    /* Elimina el estilo de lista por defecto */
    list-style: none;
    /* Elimina el relleno interno */
    padding: 0;
    /* Alineación del texto en el centro */
    text-align: center;
    /* Color de fondo de la barra de navegación */
    background-color: #B289D5;
    /* Elimina los márgenes */
    margin: 0;
    color: #48325A;
}

/* Estilos para los elementos de la lista en la barra de navegación */
nav ul li {
    /* Muestra los elementos en línea */
    display: inline;
    /* Elimina los márgenes */
    margin: 0;
}

/* Estilos para los enlaces en la barra de navegación */
nav ul li a {
    display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: #48325A;
        }

        nav ul li ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        nav ul li ul li {
            display: block;
        }
        nav ul li:hover ul {
            display: block;
        }


}

/* Estilos para el contenido principal */
main {
    /* Relleno interno del contenido principal */
    padding: 1rem;
}

/* Estilos para el pie de página */
footer {

      font-family: "Berkshire Swash", serif;
    /* Color de fondo del pie de página */
     background-color: #333;
    /* Color del texto en el pie de página */
    color: #fff;
    /* Alineación del texto en el centro */
    text-align: center;
    /* Relleno interno del pie de página */
    padding: 1rem 0;
    /* Fija el pie de página en la parte inferior de la página */
  
    bottom: 0;
    width: 100%;
}